/* ==== Chat ==== */
/* Embeds */
.embedWrapper-lXpS3L.embedFull-2tM8--{
    border-left: 5px solid none;
    box-shadow: var(--elevation-high);}
.grid-1nZz7S {
    backdrop-filter: blur(10px) opacity(0.9);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;}
.embedSuppressButton-1FonMn {
    top: 1px;
    right: 1px;}