/* ==== Server List ==== */
.scroller-2TZvBN {
    background-color: var(--primary);}
/* Folders */
.expandedFolderBackground-2sPsd- {
    background-color: var(--primary-alt);}
.folder-21wGz3, .folder-21wGz3:hover {
	background-color: inherit;}