/* Discord Font - Credit: NFLD */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);


/* ==== TaskBar ==== */
.typeWindows-1za-n7, .bg-h5JY_x {
    background-color: var(--primary);}
/* CUSTOM WORDMARK */
.wordmark-2iDDfm:after {
    content: "BrightMode";
    color: #72767d !important;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    width: 4000px;
    top: 5px;
    padding-left: -3px;
    font-family: "Discord";}
.wordmark-2iDDfm > svg{
    width: 0px;}
